@model pCMS.Models.ConfirmResetPasswordModel

@{
    ViewBag.Title = "Confirm Reset Password";
}

<div style="padding-left: 15px;padding-right: 15px;">
    <div class="editor-label" style="padding-top: 10px;">
        @Model.Message
    </div>
</div>