@model pCMS.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}
<div style="padding-left: 15px;padding-right: 15px;">
    <h2>Forgot Password</h2>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div>
            <fieldset>
                <legend>Forgot password</legend>

                <div class="editor-label" style="padding-top: 10px;">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.Email, new {@style="width : 250px;"})
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            
                <p>
                    <input type="submit" value="Reset" />
                </p>
            </fieldset>
        </div>
    }
</div>
<script type="text/javascript">$("#Email").focus()</script>