@{
    var errorMessage = string.Empty;
    var successMessage = string.Empty;
    if (!string.IsNullOrWhiteSpace(ViewContext.Controller.ViewBag.ErrorMessage))
    {
        errorMessage = ViewContext.Controller.ViewBag.ErrorMessage;
    }
    else if (TempData["ErrorMessage"] != null && !string.IsNullOrWhiteSpace(TempData["ErrorMessage"].ToString()))
    {
        errorMessage = TempData["ErrorMessage"].ToString();
    }
    if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
    {
        successMessage = ViewBag.SuccessMessage;
    }
    else if (TempData["SuccessMessage"] != null && !string.IsNullOrWhiteSpace(TempData["SuccessMessage"].ToString()))
    {
        successMessage = TempData["SuccessMessage"].ToString();
    }
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
<div id="message-red">
				<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td class="red-left">@errorMessage</td>
					<td class="red-right"><a class="close-red"><img src="@Url.Content("~/Content/admin/images/table/icon_close_red.gif")"   alt="" /></a></td>
				</tr>
				</table>
				</div>
}
@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div id="message-green">
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="green-left">@successMessage
                </td>
                <td class="green-right">
                    <a class="close-green">
                        <img src="@Url.Content("~/Content/admin/images/table/icon_close_green.gif")"   alt="" /></a>
                </td>
            </tr>
        </table>
    </div>
}