@{
    ViewBag.Title = "Le Beau, Chelsea Gardener, Seasons, Origins, Amphoral brands";
    Layout = "~/Views/Shared/_CollectionLayout.cshtml";
}
@Html.Action("SliderOnFactoryDirect", "Home")
<div class="motopress-wrapper content-holder clearfix">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" data-motopress-type="loop" data-motopress-loop-file="loop/loop-page.php">
                <div id="post-203" class="post-203 page type-page status-publish hentry">

                    <div class="row ">
                        <div class="col-xs-12 content-panel">
                            <section class="ltrigger effect-slidetop " data-delay="0"
                                     data-speed="600"
                                     style="-webkit-transition: all 600ms ease; -moz-transition: all 600ms ease; -ms-transition: all 600ms ease; -o-transition: all 600ms ease; transition: all 600ms ease;">
                                <div class="carousel-wrap editor-choice">
                                    <h2>Collections</h2>
                                    @Html.Action("CollectionList", "FactoryDirect")
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xs-12 content-panel">
                            <div class="carousel-wrap editor-choice">
                                <h2>Video</h2>
                                <section class="lazy-load-box effect-slidetop" data-delay="0"
                                         data-speed="600"
                                         style="-webkit-transition: all 600ms ease; -moz-transition: all 600ms ease; -ms-transition: all 600ms ease; -o-transition: all 600ms ease; transition: all 600ms ease;">
                                    @Html.Action("PageInline", "Home", new { alias = "factory-direct-video" })
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>