<p>
    Your account has been created successfully! Your account information is below:<br />
    Username : {0}
</p>

<p>You may now <a href="http://www.pacifichomegarden.com/Account/LogOn" target="_blank">log in</a> and receive access to our product catalog, wholesale pricing and to place orders online.
   </p>
<p>If you have any questions regarding your account, please contact customer service at 1-866-439-1583 or send us an e-mail at 
    <a href="mailto:info@pacifichomeandgarden.com">info@pacifichomeandgarden.com</a> 
    .</p>
<p>Thank you for registering with Pacific Home and Garden!</p>


