<p>
    --------------------------------</p>
<p>
    <strong>Pacific Home &amp; Garden, Inc.
    <br />
    </strong>2195 Alpine Way, Hayward CA 94545 (West Coast, Corp)
    <br />
    Tel: 510-259-0199, Fax: 510-259-1183</p>
<p>
    5252 Snapfinger Woods Dr, Decatur GA 30035 (East Coast)
    <br />
    Tel: 678-518-8471, Fax: 678-518-8493</p>
<p>
    Toll Free: 866-439-1583
    <br />
    <a href="http://www.pacifichomeandgarden.com">www.pacifichomeandgarden.com</a>&nbsp;
</p>
<img src="cid:logo" alt="Pacific Home Garden" />