<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <add name="pCMSConnectionString" connectionString="data source=.\SQLEXPRESS2K8;database=pCMS;uid=sa;pwd=Admin@123;" providerName="System.Data.SqlClient" />
    <add name="pCMSEntities" connectionString="metadata=res://*/pCMSModel.csdl|res://*/pCMSModel.ssdl|res://*/pCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2K8;database=pCMS;uid=sa;pwd=Admin@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!--
    <add name="pCMSConnectionString" connectionString="data source=112.78.2.178,1455;database=hocnhac_pCMS;uid=hocnhac_pCMS;pwd=Admin@123;" providerName="System.Data.SqlClient" />
    <add name="pCMSEntities" connectionString="metadata=res://*/pCMSModel.csdl|res://*/pCMSModel.ssdl|res://*/pCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=112.78.2.178,1455;database=hocnhac_pCMS;uid=hocnhac_pCMS;pwd=Admin@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
     


    <add name="pCMSConnectionString" connectionString="data source=192.168.9.250\SQLEXPRESS;database=pCMS;uid=sa;pwd=Admin@123;" providerName="System.Data.SqlClient" />
    <add name="pCMSEntities" connectionString="metadata=res://*/pCMSModel.csdl|res://*/pCMSModel.ssdl|res://*/pCMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.9.250\SQLEXPRESS;database=pCMS;uid=sa;pwd=Admin@123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
</configuration>